* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#EAE2B7 ;
}
.readmore{
  line-height: 2rem; 
}
.categories{
  border-style: none
}
.bg-image {
  background-image: url('../static/assets/profilepics/register.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.card{
  background-color: transparent;
}
.login {
  min-height: 100vh;
  background-color: #EAE2B7;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  color: #FFFFFF;
  background-color: #3A6351 !important;
}

.btn-login:hover {
  background-color: #3A6351 !important;
  color:#FFFFFF
}
.login-image{
  background-image: url('../static/assets/profilepics/login.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.all_border,.all_border:hover {
  border-color: #656565;
  background-color:transparent
}


.homebtn:hover,.homebtn:active{
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: none !important;
  color: #FFFFFF !important;
}
.homebtn{
  border-color: #000000 !important;
  color:#000000 !important;
  background-color: transparent !important;


}
.form-center {
  position: relative;
  width:100%;
  height:10em;
} 
.btn-primary{
  background-color: #3A6351 ;
  border-color: none ;
  
}
.form-center form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.add{
  height: 2rem;
}
.delete{
  color: #D62828;
}
.card-border{
  border: none !important;
}
.brand{
  font-family: 'Sacramento';
  font-size:22px
}
.post_submit{
  background-color: #041C32 !important;
  color: #FFFFFF;
  border: none;
}
.alert-success{
  background-color: #003049!important;
  color: #fff!important;
  border: none!important;
}
.post_submit:hover, .post_submit:active{
  background-color: #041C32 !important;
  color: #FFFFFF !important;
}
.choose::-webkit-file-upload-button {
  color: white;
  /* display: inline-block; */
  background: #041C32;
  border: none;
  /* padding: 7px 15px; */
  font-weight: 700;
  border-radius: 3px;
  /* white-space: nowrap; */
  cursor: pointer;
  /* font-size: 10pt; */
}
.choose::-webkit-file-upload-button:hover{
  background: #041C32;

}
input{
  background-color: transparent !important;
  border-color:gray !important
}