{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <div class="headline d-flex my-5">
    <img src="{{headline_image}}" alt="">
    <div>
      <p class="h3 mx-5">{{headline.title}}</p>

      <p class="mx-5">{{headline.description}}</p>
      <a href="{{url_for('posts.reads',postid=headline.id)}}" class="btn btn-primary homebtn mx-5 mb-2">Read article</a>

      <p class="mx-5 fst-italic">{{quote.quote}}</p>
      <p class="mx-5 fst-italic">~ {{quote.author}}</p>

    </div>
  </div>
  <div class="row">
    <div class="row">
      {% for post in posts %}
      <div class="col-md-4">
        <div class="card mx card-border" style="width:300px">
          <img class="card-img-top" src="{{post.blog_image}}" alt="Card image" style="width:100%">

          <div class="card-body mx-0 px-0">

            <div class="d-flex justify-content-between">
              <p class="text-muted">{{post.category}}</p>
              <p class="text-muted">{{post.date_created.strftime('%Y-%m-%d')}}</p>
            </div>
            <h4 class="card-title mx-0 px-0">{{post.title}}</h4>
            <p class="card-text">{{post.description}}</p>

            <p class="fst-italic"> ~{{post.author.username}}</p>

            <div class="d-flex justify-content-between">
              <a href="{{url_for('posts.reads',postid=post.id)}}" class="btn btn-primary homebtn">Read article</a>

              <div>
                {% if current_user.id == post.author.id %}
                <div class="d-inline mx-3">
                  <a href="{{url_for('posts.post_delete',postid=post.id)}}"><svg xmlns="http://www.w3.org/2000/svg"
                      width="25" height="25" fill="#041C32" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg></a>
                  <a href="{{url_for('posts.post_edit',postid=post.id)}}"> <svg xmlns="http://www.w3.org/2000/svg"
                      width="25" height="25" fill="#041C32" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                  </a>
                </div>
                {% endif %}
              </div>
              <a data-bs-toggle="collapse" href="#comments{{post.id}}" class="lead text-decoration-none">
                <img src="{{url_for('static',filename='/assets/comment.svg')}}" height="30" alt="">
              </a>
            </div>
            <div class="collapse" id="comments{{post.id}}">
              <!-- {% if post.comments %} -->


              <div class=" comments my-3">
                <p>Comments</p>
                <div class="card m-1">
                  {% for com in post.comments %}
                  <div class="d-flex justify-content-between">

                    <p class="lead fst-italic ">

                      {{com.comment}}
                      <div>

                      {% if current_user.id == post.author.id %}
                        <a href="{{url_for('posts.comment_delete',id=com.id)}}" class="text-decoration-none delete">Delete</a>

                      {% endif %}
                    </div>

                    </p>
                  </div>
                  {% endfor %}



                </div>


              </div>

              <!-- {% endif %} -->
              <a href="{{url_for('posts.comments',id=post.id)}}" class="text-decoration-none text-dark">
                <img class="add my-4" src="{{url_for('static',filename='/assets/add.png')}}" alt="">Add
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</div>
{% endblock %}>