
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item mx-2">
                  <a class="nav-link active  text-black" aria-current="page" href="./index.html">Home</a>
              </li>
              <li class="nav-item mx-2">
                  <a class="nav-link text-black" href="./pages/nairobi.html">Food</a>
              </li>
              <li class="nav-item mx-2">
                  <a class="nav-link text-black" href="./pages/mombasa.html">Technology</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link text-black" href="./pages/kisumu.html">Fashion</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-black" href="./pages/booking.html">Travel</a>
            </li>

          </ul>
          <ul class="navbar-nav">
              <li class="nav-item list-unstyled "> 
                  <a class="nav-link text-black brand">HJ Blog</a>
              </li>
          </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto ">
              <li class="nav-item mx-2">
                  <a class="nav-link text-black" href="./pages/kisumu.html">Subscribe</a>
              </li>

              <li class="nav-item mx-2">
                  <a class="nav-link text-black" href="./pages/booking.html">Account</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link text-black">Log out</a>
            </li>
              <li class="nav-item mx-2 my-2">
                  <a href="nav-link" class="text-black d-inline" id="darkMode"> <span class=" text-center iconify" data-icon="ic:round-dark-mode"></span>
                  </a>
              </li>
          </ul>
        
      </div>
  </div>
</nav>  
