{% extends 'layout.html' %}
{% block body %}
<div class="container mt-2 p-3 w-50">
 <div class="form-center">
  <p class="text-center my-3 h4">Subscription to all blog notifications</p>

 <form action="" method="post" class="my-5">
  {{form.hidden_tag()}}
  <div class="form-group">
    {{form.email.label(class='form-control-label')}}
    {% if form.email.errors %}
    {{form.email(class='form-control is-invalid')}}
    {% for error in form.email.errors %}
    <div class="invalid-feedback">
      {{error}}
    </div>
    {% endfor %}
    {% else %}
    {{form.email(class='form-control bg-transparent all_border mb-2',placeholder="Enter Email")}}
    {% endif %}
    <div class="text-center mt-3">
      {{form.submit(class='btn btn-outline btn btn-outline btn-login form-control')}}

    </div>
  </div>
</form>
</div>
</div>

{% endblock %}